ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 33%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    width: 10em;
}

/* Change the link color on hover */
li a:hover {
    background-color: #b8dbf7;
    color: black;
}

.fixed {
    height: auto;
    position: fixed;
    z-index: 1;
}

.image {
    width: auto;
}

.controls {
    position: fixed;
    bottom: 0;
    left: 0
}